<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Graphics</key>
	<array>
		<string>Square</string>
		<string>Circle</string>
		<string>Rectangle</string>
		<string>Triangle</string>
	</array>
</dict>
</plist>
